body {
    margin: 0;
    padding: 0;
    background-color: #555;
    color: #0f0;
    font-family: monospace;
    overflow: hidden;
}

#screen {
    box-sizing: border-box;
    position: absolute;
    padding: 0px;
    margin: 0px;
    /* padding-bottom: 10px; */
    object-fit: cover;
    background-color: #111;
    /* box-shadow: #999 0px 0px 5px, #888 3px 3px 2px, #222 -3px -3px 2px; */
    /* overflow: hidden; */
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 5px solid blue; */
}

#terminal {
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    /* margin-bottom: 5px; */
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #555 #111;
    overflow-wrap: break-word;
    /* border: 5px solid red; */
}

/*
#inputBox {
    position: absolute;
    height: 2%;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 5px;
    border-width: 0;
    background-color: #222;
    font-family: monospace;
    font-size: 20px;
}*/
#inputBox {
    position: absolute;
    height: 2%;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 5px;
    border-width: 0;
    background-color: transparent;
    color: transparent;
    font-family: monospace;
    font-size: 20px;
}

a {
    width: auto;
    margin-right: auto;
    padding-right: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.cursor {
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 0px;
    opacity: 0;
    text-shadow: none;
    color: #eee;
    text-shadow: 0px 0px 10px #eee;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 1;
        text-shadow: 0px 0px 10px #eee;
    }
}
@keyframes hide {
    to {
        opacity: 0;
    }
}
@keyframes show {
    to {
        opacity: 1;
    }
}

::selection {
    border: 0;
}

input:focus {
    border: 0;
    outline: none;
}
input:active {
    border: 0;
}
input:hover {
    border: 0;
}

.red {
    color: #f00;
}
.redGlow {
    color: #f00;
    text-shadow: 0px 0px 20px #f00, 0px 0px 10px #f00;
}

.green {
    color: #0f0;
}
.greenGlow {
    color: #0f0;
    text-shadow: 0 0 20px #0f0, 0 0 10px #0f0;
}

.blue {
    color: #00f;
}
.blueGlow {
    color: #00f;
    text-shadow: 0 0 20px #00f, 0 0 10px #00f;
}

.white {
    color:#eee;
}
.whiteGlow {
    color: #eee;
    text-shadow: 0px 0px 20px #eee, 0px 0px 10px #eee;
}

.preformat-whitespace {
    white-space: pre;
}

p {
    position: relative;
    display: inline;
    max-width: 100%;
    /* text-wrap: wrap; */
    overflow-wrap: break-word;
    font-size: 20px;
    text-decoration: none;
    margin: 0px 0px;
}
