body {
    min-width: 250px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #222;
}

p {
    font-size: 13pt;
}

a {
    color: #55dd99;
    text-decoration: none;
    font-weight: bold;
}

hr {
    width: 80vw;
    height: 1vh;
    box-shadow: 5px 5px 5px black;
    border-width: 0;
    background-color: #102540;
    filter: none;
}

/* ----------------------------- jumbotron start ---------------------------- */
.jumbotron {
    position: relative;
    margin: 0;
    padding: 0;
    height: 60vh;
    line-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #102540;
    overflow: hidden;
    user-select: none;
}
.jumbotron h1 {
    position: absolute;
    margin: auto;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    text-shadow: 10px 10px 10px #000;
    opacity: 10;
    color: #fff;
    animation: text-shadow-rotate 60s linear forwards infinite;
}

.jumbotron h2 {
    position: absolute;
    margin: auto;
    top: 6vw;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    text-shadow: 10px 10px 10px #000;
    opacity: 10;
    color: #999;
    animation: text-shadow-rotate 60s linear forwards infinite;
}
.jumbotron h2 a {
    color: #999;
}

.jumbotron #jumbotronIFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    border: 0;
    filter: brightness(35%);
    pointer-events: none;
}

@keyframes text-shadow-rotate {
    0% {
        text-shadow: 10px 10px 10px #000;
    }

    12% {
        text-shadow: 0px 14px 10px #000;
    }

    25% {
        text-shadow: -10px 10px 10px #000;
    }

    37% {
        text-shadow: -14px 0px 10px #000;
    }

    50% {
        text-shadow: -10px -10px 10px #000;
    }

    62% {
        text-shadow: 0px -14px 10px #000;
    }

    75% {
        text-shadow: 10px -10px 10px #000;
    }

    87% {
        text-shadow: 14px 0px 10px #000;
    }

    100% {
        text-shadow: 10px 10px 10px #000;
    }
}
/* ------------------------------ jumbotron end ----------------------------- */

/* -------------------------------- box start ------------------------------- */
div.box {
    position: relative;
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #123456;
    border: 5px solid #102540;
    box-shadow: 5px 5px 5px #000;
    color: #fff;
}
div.box h1 {
    margin: 0;
    padding-bottom: 10px;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}
/* --------------------------------- box end -------------------------------- */

/* ------------------------------ buttons start ----------------------------- */
button {
    margin: auto;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
}
button * {
    margin: 0;
}
button h1 {
    margin: 0 0 0 0;
    backdrop-filter: brightness(50%);
}

.gameButton {
    position: relative;
    margin: 5px;
    margin-top: 10px;
    min-width: 200px;
    background-color: #102540;
    border: 2px solid #051320;
    box-shadow: 2px 2px 5px #000;
    color: #fff;
    font-family: monospace;
    font-size: 20px;
}
.gameButton:hover {
    top: -1px;
    left: -1px;
    box-shadow: 4px 4px 7px #000;
}
.gameButton:active {
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 2px #000;
}
/* ------------------------------- buttons end ------------------------------ */

/* --------------------------------- footer --------------------------------- */

footer {
    position: static;     
    bottom: 0;
}

/* ------------------------------- footer end ------------------------------- */

@media screen and (min-width: 501px) {

    .mobile {
        display: none;
    }
    .tablet-desktop {
        display: block;
    }

    nav.navbar {
        position: sticky;
        top: -1px;
        z-index: 100;
        margin: 0;
        padding: 0;
        border-top: 2px solid #246;
        border-bottom: 2px solid #246;
        animation: none;
    }
    nav.navbar ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    nav.navbar ul li {
        float: right;
        font-weight: 500;
        border-left: 1px solid #fff;
        color: #fff;
    }
    nav.navbar ul li.navbar-right {
        float: left;
        border-left: 0;
        border-right: 1px solid #fff;
    }
    nav.navbar ul li a {
        display: block;
        padding: 8px;
        font-size: 15px;
        font-weight: 900;
        color: #fff;
        background-color: #444;
        text-decoration: none;
    }
    nav.navbar ul li a.navbar-selected {
        background-color: #125678;
    }

}

@media screen and (max-width: 500px) {

    .mobile {
        display: block;
    }
    .tablet-desktop {
        display: none;
    }

    .jumbotron {
        
    }
    .jumbotron {
        height: 50vh;
        line-height: 50vh;
        border-bottom: 4px solid #246;
    }

    nav.navbar {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 100;
        margin: 0;
    }
    nav.navbar ul {
        list-style-type: none;
        /* height: 0px; */
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-bottom: 2px solid #246;
        padding: 0;
        box-shadow: 0px 3px 5px black;
    }
    nav.navbar ul li {
        /* float: right; */
        text-align: center;
        font-weight: 500;
        background-color: #333;
        border-top: 1px solid #fff;
        color: #fff;
    }
    nav.navbar ul li.navbar-right {
        background-color: #222;
        border-top: none;
        border-bottom: 2px solid #fff;
    }
    nav.navbar ul li a {
        display: block;
        padding: 8px;
        font-size: 20px;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
    }
    nav.navbar ul li a.navbar-selected {
        background-color: #125678;
    }
    
    #navbar-hamburger{
        height: 35px;
        width: 35px;
        margin-left: 10px;
        padding: 5px 5px;
        background-color: #ccc;
        border-radius: 0px 0px 10px 10px;
        box-shadow: 2px 3px 5px #fff;
        filter: invert();
    }

    .nav-animator-expand {
        animation-name: navbar-expand;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
    }

    .nav-animator-collapse {
        animation-name: navbar-collapse;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
    }

}

@keyframes navbar-expand {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}

@keyframes navbar-collapse {
    from {
        height: 200px;
    }
    to {
        height: 0px;
    }
}