body {
    position: relative;
    margin: auto;
    background-color: #123456;
    text-align: center;
    font-family: monospace;
    color: #eee;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#title {
    margin-top: 1%;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-width: 5px;
    border-style: solid;
    border-color: #224466;
    box-shadow: 5px 5px 5px #000;
    background-color: #102540;
    text-align: inherit;
    font-size: 80px;
    font-family: monospace;
    color: #eee;
}

button {
    border: 2px solid #224466;
    background-color: #102540;
    color: #ccc;
    box-shadow: 5px 5px 5px #000;
}
button:hover {
    top: -3px;
    left: -3px;
    border-color: #204060;
    background-color: #102030;
    box-shadow: 10px 10px 10px #000;
}
button:active {
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px 1px #000;
}

button.menuButton {
    position: relative;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
    margin-top: 6px;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}
.menuButton::before {
    content: "</";
}
.menuButton::after {
    content: ">";
}

#backButton {
    margin-bottom: 10px;
}

#menu1 {
    display: flex;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;
    width: fit-content;
}

.gameMenuButton {
    position: relative;
}
.gamesMenuButton::after {
    content: "\a";
}


#gamesMenu {
    display: list-item;
    margin: auto;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    width: fit-content;
}

#pictureOfMe {
    position: absolute;
    object-fit: scale-down;
    width: 400px;
    height: 640px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #224466;
    box-shadow: 5px 5px 5px #000;
}

#rTextBox {
    position: relative;
    margin-top: 40px;
    margin-left: 450px;
    margin-right: 30px;
    margin-bottom: 40px;
    border-style: solid;
    border-width: 5px;
    border-color: #224466;
    padding: 20px;
    background-color: #102540;
    box-shadow: 5px 5px 5px #000;
    text-align: left;
    font-family: monospace;
}


.textBox {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
h3.textBox {
    font-size: 30px;
    text-shadow: 3px 3px 3px #000;
}
p.textBox {
    margin-top: 20px;
    font-size: 15px;
    text-shadow: 2px 2px 2px #000;
}

.newsBox {
    position: relative;
    flex-wrap: wrap;
    overflow-wrap: normal;
    overflow-x: scroll;
    margin: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #224466;
    padding: 10px;
    background-color: #102540;
    box-shadow: 5px 5px 5px #000;
    text-align: left;
    font-family: monospace;
}

.news{
    flex-wrap: wrap;
    margin: 10px;
    font-size: 20px;
    padding-left: 0px;
    text-align: left;
}
div.news {
    display: inline;
}
h1.news {
    font-size: 40px;
    text-shadow: 10px 10px 10px #000;
}
h2.news {
    margin-left: 20px;
    font-size: 20px;
}
h3.news {
    margin: 0;
    font-size: 30px;
    text-shadow: 3px 3px 3px #000;
}
p.news {
    font-size: 20px;
    margin: 10px;
    margin-top: 0;
}

img.placeholder {
    width: 500px;
}

.image-text {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.imageblock {
    object-fit: cover;
    position: relative;
    width: auto;
    display: inline;
    margin: 10px 20px;
    height: auto;
}
.image {
    top: 0; bottom: 0; right: 0; left: 0;
    box-shadow: 5px 5px 5px #000;
    border-style: solid;
    border-width: 5px;
    border-color: #224466;
}

#greeting {
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#htmlTagStart::before {
    content: "<";
}
#htmlTagStart {
    text-align: left;
}
#htmlTagStart::after {
    content: ">";
}

#htmlTagEnd::before {
    content: "</";
}
#htmlTagEnd {
    text-align: right;
}
#htmlTagEnd::after {
    content: ">";
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.splashText {
    position: absolute;
    z-index: 3;
    left: 54.5%;
    top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: rotate(-15deg);
    font: inherit;
    font-weight: bolder;
    color: #ffff00;
    text-shadow: 2px 2px 2px #000;
}

.frame {
    height: 500px; 
    width: 95%; 
    margin-top: 20px; 
    border-style: solid;
    border-color: #224466;
    border-width: 10px;
}

.newsFrame {
    display: inline;
    height: 500px; 
    width: 70%; 
    margin-top: 20px; 
    border-style: solid;
    border-color: #224466;
    border-width: 10px;
    box-shadow: 5px 5px 5px #000;
}

.newsLink {
    position: relative;
    width: 80%;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px 20px;
    text-align: left;
    font-family: monospace;
    text-decoration: none;
    text-decoration-line: none;
    color: #eee;
}
h1.newsLink {
    margin: 0;
    font-size: 40px;
    text-shadow: 10px 10px 10px #000;
}
h2.newsLink {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
}

.gameMenuButton {
    margin: 5px;
    width: 200px;
    font-family: monospace;
    font-size: 20px;
}

.secretButton {
    position: relative;
    margin-right: 0;
    text-align: center;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #102540;
}