*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    margin-top: 10px;
}

#character{
    background-image: url("vert-spritesheet-character.png");
    background-position: 0 0;
    width: 30px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 20px;
}

.animateJump{
    animation: jump 0.4s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 90px;}
    70%{top: 90px;}
    100%{top: 150px;}
}

.animateWalk{
    animation: walk 0.4s steps(4) infinite;
}    
@keyframes walk {
    0%{background-position: 0 0;}
    100%{background-position: 0 200px;}

    /*0%{background-position: 0 0;}
    24%{background-position: 0 0;}
    25%{background-position: 30px 0;}
    49%{background-position: 30px 0;}
    50%{background-position: 0 0;}
    74%{background-position: 0 0;}
    75%{background-position: 30px 50px;}
    99%{background-position: 30px 50px;}
    100%{background-position: 0 0;}*/
}

#block{
    width: 20px;
    height: 20px;
    position: relative;
    background-image: url("block.png");
    top: 130px;
    left: 500px;
    animation: block 1.5s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left:-20px}
}

h1{
    text-align: center;
    margin-top: 50px;
}
p{
    text-align: center;
}