html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #0f0;
    font-family: monospace;
}

a {
    width: auto;
    margin-right: auto;
    padding-right: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

::selection {
    border: 0;
}

input:focus {
    border: 0;
    outline: none;
}
input:active {
    border: 0;
}
input:hover {
    border: 0;
}

p {
    font-size: 20px;
    text-decoration: none;
}
p.green {
    color: #0f0;
    text-shadow: 0 0 20px #0f0, 0 0 20px #0f0, 0 0 20px #0f0;
}
p.red {
    color: #f00;
    text-shadow: 0px 0px 20px #f00, 0px 0px 20px #f00, 0px 0px 20px #f00;
}

#inputBox {
    position: fixed;
    left: 1%;
    right: 1%;
    bottom: 2%;
    width: 98%;
    margin: 0;
    padding: 5px;
    border-width: 0;
    background-color: #111;
    font-size: 20px;
    color: #0f0;
    text-shadow: 0 0 20px #0f0, 0 0 20px #0f0, 0 0 20px #0f0;
}
