html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #00ff00;
    font-family: monospace;
}

p {
    font-size: 15px;
    text-decoration: none;
}
p.green {
    color: #00ff00;
}
p.red {
    color: #ff0000;
}