body {
    margin: 0;
    padding: 0;
}

iframe {
    overflow: hidden;
}

#game {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0px solid #000;
    background-color: #eee;
    overflow: hidden;
}

#player {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: #00f;
}

#box1 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border: 1px solid #222;
    opacity: 0;
}